/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

#lead {
  padding-bottom: 50px;
  padding-top: 6%;
  text-align: left;
}
