<h1>Your orders</h1>


  <% @orders.each do |order| %>
    <div class="order-card">
      <div class="flex-item">
        <p><%= order.product %></p>
      </div>
      <div class="flex-item">
        <p><%= order.address %></p>
      </div>
      <div class="flex-item">
        <p><%=order.created_at%></p>
      </div>
      <div class="flex-item">
        <p><%= order.status %></p>
      </div>
    </div>
  <% end %>

  </div>



