<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<% if user_signed_in? %>
<%= link_to 'Get Started', bots_path, class:"button button-blue" %>
<%= link_to 'Documentation', bots_path, class:"button button-red" %>
<% else %>
<%= link_to 'Start Now !', new_user_session_path, class:"button button-blue" %>
<% end %>

