<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<% if user_signed_in? %>
<%= link_to 'See your bots !', bots_path, class:" btn btn-primary" %>
<% else %>
<%= link_to 'Start Now !', new_user_session_path, class:" btn btn-primary" %>
<% end %>
