<div class="container">
<div class="row padded">
    <div class="col-md-4 col-md-offset-4">
      <h2>Create a Bot</h2>

      <%= render 'form', bot: @bot %>

      <%= link_to 'Back', bots_path %>


    </div>
  </div>
</div>




