@import "utilities";
@import "footer";
@import "navbar";

body {
    color: #333538;
    font-family: "ProximaNovaSoft-Regular", sans-serif;
}

h6 {
font-size: 20px;
margin-top: 0px;
margin-top: 4px;
padding-top: 40px;
color: #777777;
margin-bottom: 2px;
}

