.pattern-card {
  background-color: #F8F9F8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}


.grey-card {
  background-color: #F8F9F8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}


.robot-card {
  width: 275px;
  height:225px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border:2px solid #E6E5E4;
  flex: display;
  text-align: center;
}

.robot-card p {
  bottom: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;

}

.container-bot .container  {
width: 930px;
}


.toggle-one {
  bottom: 5%;
  left: 0;
  right: 0;
}



