canvas{
        width: 100% !important;
        max-width: 400px;
        height: auto !important;
        background-color: white;
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
    }


.graph {
  margin-bottom: 50px;
}
