#text_area_big {
    overflow: auto;
    width: 80%;
    height: 183px;
    color: #777887;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid #E6E5E4;
}

#text_area_small {
    overflow: auto;
    width: 80%;
    height: 40px;
    color: #777887;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #E6E5E4;
}

#text_area_medium {
    overflow: auto;
    width: 100%;
    height: 40px;
    color: #777887;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #E6E5E4;
}

