.header {
  height: 100vh;
}

.header-gif img {
  width: 70vh;

}

.header-text{
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 12%;
  h1 {
  font-size: 52px;
  margin: 0;
  }
  h2 {
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  }
  h3 {
  margin: 70px 0;
  font-weight: 200;
  font-size: 24px;
  }
}


